---
import "../styles/global.css";
import BaseLayaout from "../layouts/BaseLayaout.astro";
import BlogPost from "../components/BlogPost.astro"

const allPosts = await Astro.glob('../pages/posts/*.md');
const pageTitle = "Mi Blog de aprendizaje sobre Astro";
---

<BaseLayaout pageTitle ={pageTitle}>
  <p>Aquí es donde publicaré acerca de mi viaje aprendiendo Astro.</p>
  <ul>
    {allPosts.map((post) => <BlogPost url={post.url} title={post.frontmatter.title} />)}
  </ul>
</BaseLayaout>